body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Top navbar */
.topnav {
  overflow: hidden;
  background-color: #03A9F4; /* Deixa o background em tom azul */
}

/* Personaliza os nomes dentro do navbar */
.topnav a {
  float: left;
  color: #fafafa; /* Letra na cor branco */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Muda de cor quando passa a seta do mouse */
.topnav a:hover {
  background-color: #fafafa; /* Letra na cor cinza */
  color: #212121; /* Letra na cor preta  */
}

/* Barra de busca */
input[type=text] {
  width: 100%;  /* Largura do espaço */
  box-sizing: border-box;
  border: 3px ridge #E0E0E0;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff; /* espaço de busca na cor branco */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 20px; /* 1° top 2° right  3° bottom 4° left*/;
}


/* Coloca a barra de busca no lado direito da tela */
.pull-right {
  float: right;
  margin-right: 25px; /* Afasta a barra de busca do canto direito */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #03A9F4; /* Deixa o background em tom azul */
  text-align: center;
  color: #FAFAFA;
}